<% content_for :sitemap do %>
    <span class="current"><%= t("cpanel.menu.categories_list") %></span>
<% end %>
<h1><%= t("cpanel.menu.categories_list") %></h1>

<table class="table table-bordered table-striped table-condensed">
  <tr class="head">
    <td class="first">分类ID</td>
    <td>分类名称</td>
    <td>描述</td>
    <td class="opts">操作</td>
  </tr>

  <% @categories.each do |cat| %>
      <tr>
        <td class="first"><%= cat.id %></td>
        <td><%= link_to cat.name, categories_details_path(cat.slug), target: "blank" %></td>
        <td><%= cat.desc %></td>
        <td>
          <%= link_to '', edit_cpanel_category_path(cat.id), :class => "icon small_edit" %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to '', cpanel_category_path(cat.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "icon small_delete" %>
        </td>
      </tr>
  <% end %>
</table>
<br/>

<%= will_paginate @categories %>

<a href="<%= new_cpanel_category_path %>" class="btn btn-small btn-success"><%= t("cpanel.common.create") %></a>