<div id="seearm">
  <div class="container">
    <div id="seearm-carousel" class="carousel slide">
      <div class="carousel-inner" itemscope itemtype="http://schema.org/Product">
        <% i = 1 %>
        <% @position_one.each do |one| %>
            <%
               @class = 'active item'
               if i != 1
                 @class = 'item'
               end
            %>
            <div class="<%= @class %>">
            <a href="<%= one.url %>" title="<%= one.title %>" target="_blank" itemprop="url">
              <%= image_tag one.image, :alt => one.title, :itemprop => "image" %>
            </a>
            <div class="seearm-details">
              <h2 itemprop="name"><%= one.title %></h2>
              <p itemprop="description"><%= raw one.desc %></p>
            </div>
            </div>
            <% i = i + 1 %>
        <% end %>
        </div>
        <a class="carousel-control left" href="#seearm-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#seearm-carousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
</div>
<div id="content">
  <div class="container" itemscope itemtype="http://schema.org/Product">
    <!-- position two -->
    <div class="position-title"><h3>推荐产品</h3></div>
    <div class="row work-container">
      <% @position_two.each do |two| %>
          <div class="position">
            <div class="seearm-home-item">
              <h2>
                <%= link_to two.title, two.url, :target => "_blank", :title => "#{two.title}", :itemprop => "name url" %>
              </h2>
              <a class="thumbnail" href="<%= two.url %>" target="_blank">
                <%= image_tag two.image, :alt => two.title, :itemprop => "image" %>
              </a>

              <p class="item-text">
                <%= link_to raw(strip_tags(two.desc).truncate(42)), two.url, :target => "_blank", :title => "#{two.title}", :itemprop => "description" %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
    <!-- position three -->
    <div class="position-title"><h3>热卖产品</h3></div>
    <div class="row work-container">
      <% @position_three.each do |three| %>
          <div class="position">
            <div class="seearm-home-item">
              <h2>
                <%= link_to three.title, three.url, :target => "_blank", :title => "#{three.title}", :itemprop => "name url"  %>
              </h2>
              <a class="thumbnail" href="<%= three.url %>" target="_blank" itemprop="url" >
                <%= image_tag three.image, :alt => three.title, :itemprop => "image" %>
              </a> <!-- /img -->
              <p class="item-text">
                <%= link_to raw(strip_tags(three.desc).truncate(42)), three.url, :target => "_blank", :title => "#{three.title}", :itemprop => "description"%>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>