<div id="seearm">
  <div class="container">
    <div id="seearm-carousel" class="carousel slide">
      <div class="carousel-inner">
        <% i = 1 %>
        <% @position_one.each do |one| %>
            <%
               @class = 'active item'
               if i != 1
                 @class = 'item'
               end
            %>
            <div class="<%= @class %>">
            <%= image_tag one.image, :alt => one.title %>
            <div class="seearm-details">
              <h2><%= one.title %></h2>
              <p><%= raw one.desc %></p>
            </div>
            </div>
            <% i = i + 1 %>
        <% end %>
        </div>
        <a class="carousel-control left" href="#seearm-carousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#seearm-carousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
</div>
<div id="content">
  <div class="container">
    <!-- position two -->
    <div class="position-title"><h3>推荐产品</h3></div>
    <div class="row work-container">
      <% @position_two.each do |two| %>
          <div class="position">
            <div class="seearm-home-item">
              <h2>
                <%= link_to two.title, two.url, target: "_blank", title: "#{two.title}" %>
              </h2>
              <a class="thumbnail" href="<%= two.url %>" target="_blank">
                <%= image_tag two.image, :alt => two.title %>
              </a>

              <p class="item-text">
                <%= link_to raw(strip_tags(two.desc).truncate(30)), two.url, target: "_blank", title: "#{two.title}" %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
    <!-- position three -->
    <div class="position-title"><h3>热卖产品</h3></div>
    <div class="row work-container">
      <% @position_three.each do |three| %>
          <div class="position">
            <div class="seearm-home-item">
              <h2>
                <%= link_to three.title, three.url, target: "_blank", title: "#{three.title}" %>
              </h2>
              <a class="thumbnail" href="<%= three.url %>" target="_blank">
                <%= image_tag three.image, :alt => three.title %>
              </a> <!-- /img -->
              <p class="item-text">
                <%= link_to raw(strip_tags(three.desc).truncate(30)), three.url, target: "_blank", title: "#{three.title}" %>
              </p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>