<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li class="active"><%= @about.name %></li>
  </ul>
</div>


<div id="content">

  <div class="container">

    <div class="row">

      <div class="grid-12">

        <h2><span class="slash">//</span><%= @about.name %></h2>

        <p>
          <%= raw @about.content %>
        </p>

      </div> <!-- /grid-12 -->

    </div> <!-- /row -->

    <hr class="row-divider" />
    <div class="row">
      <div class="grid-6">
        <h2><span class="slash">//</span><%= @contact.name %></h2>
        <p><%= raw @contact.content %></p>
      </div> <!-- /grid-6 -->
      <div class="grid-6">
        <h2><span class="slash">//</span><%= @address.name %></h2>
        <p><%= raw @address.content %></p>
      </div> <!-- /grid-6 -->
      <hr class="row-divider" />
      <div id="contact-map">
        <iframe width="100%" height="180" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=New+York&amp;sll=49.891235,-97.15369&amp;sspn=47.259509,86.923828&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+United+States&amp;ll=40.714867,-74.005537&amp;spn=0.019517,0.018797&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

</div> <!-- /content -->