<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li class="active"><%= @about.name %></li>
  </ul>
</div>


<div id="content">

  <div class="container">

    <div class="row">

      <div class="grid-12">

        <h2><span class="slash">//</span><%= @about.name %></h2>

        <p>
          <%= raw @about.content %>
        </p>

      </div> <!-- /grid-12 -->

    </div> <!-- /row -->

    <hr class="row-divider" />
    <div class="row">
      <div class="grid-6">
        <h2><span class="slash">//</span><%= @contact.name %></h2>
        <p><%= raw @contact.content %></p>
      </div> <!-- /grid-6 -->
      <div class="grid-6">
        <h2><span class="slash">//</span><%= @address.name %></h2>
        <p><%= raw @address.content %></p>
      </div> <!-- /grid-6 -->
      <hr class="row-divider" />
      <div id="contact-map">
        <iframe width="100%" height="320" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E9%95%87%E8%A5%BF%E8%B7%AF187%E5%BC%84151%E5%8F%B7&amp;aq=&amp;sll=31.129393,121.41356&amp;sspn=0.009,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E9%97%B5%E8%A1%8C%E5%8C%BA%E9%95%87%E8%A5%BF%E8%B7%AF187%E5%8F%B7&amp;t=m&amp;ll=31.129375,121.413603&amp;spn=0.013225,0.075445&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E9%95%87%E8%A5%BF%E8%B7%AF187%E5%BC%84151%E5%8F%B7&amp;aq=&amp;sll=31.129393,121.41356&amp;sspn=0.009,0.021136&amp;ie=UTF8&amp;hq=&amp;hnear=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E9%97%B5%E8%A1%8C%E5%8C%BA%E9%95%87%E8%A5%BF%E8%B7%AF187%E5%8F%B7&amp;t=m&amp;ll=31.129375,121.413603&amp;spn=0.013225,0.075445&amp;z=14&amp;iwloc=A" target="_blank" style="color:#0000FF;text-align:left">查看大图</a></small>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

</div> <!-- /content -->