    <div id="page-title">
		
		<h2><%= @category.name %></h2>
		<p><%= @category.desc %></p>
		
	</div> <!-- /page-title -->
	
	<div id="content">
		<div class="container">
			<div class="row">
			<% @products.each do |product| %>
				<div class="grid-4">	
					<div class="product-detail">
						<h4><%= link_to product.name,products_details_path(product.id),target: "blank" %></h4>
						<img src="<%= product.pictures%>" alt="<%= product.name%>">
						<p class="product-detail-title"><%= link_to product.name,products_details_path(product.id),target: "blank" %></p>
						<p><%= raw(product.content.truncate(135)) %><%= link_to t("front.products.products_detail"),products_details_path(product.id),target: "blank" %></p>
						
					</div> <!-- /profile -->
				</div> <!-- /grid-4 -->
			<% end %>
			</div> <!-- /row -->
			
		</div> <!-- /container -->
	</div> <!-- /content -->