<div>
  <ul class="breadcrumb">
  <li><a href="#">Home</a> <span class="divider">/</span></li>
  <li><a href="#">Library</a> <span class="divider">/</span></li>
  <li class="active">Data</li>
</ul>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="grid-13">
        <%= render 'left' %>
      </div>
      <div class="grid-14">
      <% @products.each do |product| %>
          <div class="grid-15">
            <div class="product-detail">
              <h4><%= link_to product.name, products_details_path(product.id), target: "blank" %></h4>

              <p class="thumbnail"><img src="<%= product.pictures %>" alt="<%= product.name %>"></p>

              <p class="product-detail-title">
                <%= link_to product.name, products_details_path(product.id), target: "blank" %>
              </p>
              <p style="height:140px;"><%= raw(strip_tags(product.content).truncate(120)) %>
                <%= link_to t("front.products.products_detail"), products_details_path(product.id), target: "blank" %>
              </p>
            </div>
            <!-- /product -->
          </div>
          <div class=""></div>
          <!-- /grid-15-->
      <% end %>
      </div>

    </div>

  </div>
</div>
