<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li><a href="<%= categories_lists_path %>">产品中心</a> <span class="divider">/</span></li>
    <li class="active">所有产品</li>
  </ul>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="sidebar">
        <%= render 'categories/left' %>
      </div>
      <div class="grid-14">
        <% @products.each do |product| %>
            <div class="grid-15">
              <div class="product-detail">
                <h2><%= link_to product.name, products_details_path(product.id), target: "blank", title: product.name %></h2>
                <p class="thumbnail">
                  <a href="<%= products_details_path(product.id) %>" target="_blank" title: <%= product.name %>>
                    <%= image_tag product.pictures, :alt => product.name %>
                  </a>
                </p>
                <p class="product-text"><%= raw(strip_tags(product.content).truncate(120)) %>
                  <%= link_to '产品详情>>', products_details_path(product.id), class: "product-more", target: "_blank" %>
                </p>
              </div>
              <!-- /product -->
            </div>
            <div class=""></div>
            <!-- /grid-15-->
        <% end %>
        <%= will_paginate @products, :inner_window => 2 %>
      </div>
    </div>
  </div>
</div>

