<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li><a href="<%= categories_lists_path %>">产品中心</a> <span class="divider">/</span></li>
    <li><a href="<%= categories_details_path(@product.category.slug) %>"><%= @product.category.name %></a>
      <span class="divider">/</span></li>
    <li class="active"><%= @product.name %></li>
  </ul>
</div>
<div id="content">
  <div class="container" itemscope itemtype="http://schema.org/Product">
    <div class="row">
      <div class="grid-5">
        <h2>
          <%= @product.name %>图片
        </h2>
        <div class="thumbnail">
          <%= image_tag @product.pictures, :alt => @product.name, :itemprop => "image" %>
        </div>
      </div>
      <div class="grid-7">
        <h2>
          <%= @product.name %>信息
        </h2>
        <div class="product-right">
          <p>产品名称:
            <strong itemprop="name"><%= @product.name %></strong>
          </p>
          <p>产品类别:
            <strong><%= link_to @product.category.name, categories_details_path(@product.category.slug), :target => "_blank" %></strong>
          </p>
          <p>
            产　　商: <strong itemprop="brand"><%= @product.name %></strong>
          </p>
          <p itemscope itemtype="http://schema.org/Offer">
            价　　格: <strong itemprop="price"><%= @product.price %></strong>
          </p>
          <p>
            购买方式: <strong><%= link_to "淘宝购买", @product.taobao_url, :target => "_blank", :itemprop => "url" %></strong>
          </p>
          <!--
          <p>
            购买方式: <strong><%= link_to "淘宝购买", @product.taobao_url, :target => "_blank" %></strong>
          </p>
          -->
          <%= social_share_button_tag("从 #{Setting.app_name} 分享了 #{@product.name} ,你也来看看吧",:url => products_details_url, :image => @product.pictures) %>
        </div>
      </div>
    </div>
    <hr class="row-divider"/>
    <div class="row">
      <div class="grid-12">
        <div class="product-title">
        <h1>
          <%= @product.name %> 详细信息
        </h1>
        </div>
        <div class="product-content" itemprop="description">
          <%= raw @product.content %>
        </div>
        <br />
        <%= social_share_button_tag("从 #{Setting.app_name} 分享了 #{@product.name} ,你也来看看吧",:url => products_details_url) %>
      </div>
    </div>
  </div>
</div>