<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li><a href="<%= categories_lists_path %>">产品中心</a> <span class="divider">/</span></li>
    <li><a href="<%= categories_details_path(@product.category.slug) %>"><%= @product.category.name %></a> <span class="divider">/</span></li>
    <li class="active"><%= @product.name %></li>
  </ul>
</div>


<div id="content">
    <div class="container">

        <div class="row">

            <div class="grid-5">

                <h2>
                    <span class="slash"></span>
                    产品图片
                </h2>
                <div class="thumbnail">
                  <%= image_tag @product.pictures, :alt => @product.name %>

                </div>

            </div>
            <!-- /grid-5 -->

            <div class="grid-7">

                <h2>
                    <span class="slash"></span>
                    产品信息
                </h2>
                <div class="product-right">
                    <p> <strong>产品名称: </strong><%= @product.name %></p>
                    <p> <strong>产品类别: </strong><%= link_to @product.category.name, categories_details_path(@product.category.slug) %></p>
                    <p>
                        <strong>产　　商: </strong><%= @product.name %></p>
                    </p>
                    <p>
                        <strong>价　　格: </strong><%= @product.price %>
                    </p>
                    <p>
                        <strong>购买方式: </strong><%= link_to "淘宝购买",@product.taobao_url, target:"_blank" %>
                    </p>
                    <!--
                    <p>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>

                    -->
                </div>
            </div>
            <!-- /grid-7 --> 
        </div>
        <!-- /row -->
        <hr class="row-divider" />

        <div class="row">
            <div class="grid-12">
                <h2>
                    <span class="slash"></span>
                    产品介绍
                </h2>
                <div class="product-content">
                  <%= raw @product.content_html %>
                </div>
            </div>
        </div>
    </div>
</div>