<% content_for :sitemap do %>
    <span class="current"><%= t("cpanel.menu.pages_list") %></span>
<% end %>
<h1><%= t("cpanel.menu.pages_list") %></h1>

<table class="table table-bordered table-striped table-condensed">
  <tr class="head">
    <td class="first">页面ID</td>
    <td>页面名称</td>
    <td>内容</td>
    <td class="opts">操作</td>
  </tr>

  <% @pages.each do |page| %>
      <tr>
        <td class="first"><%= page.id %></td>
        <td><%= link_to page.name, target: "blank" %></td>
        <td><%= page.content %></td>
        <td>
          <%= link_to '', edit_cpanel_page_path(page.id), :class => "icon small_edit" %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to '', cpanel_page_path(page.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "icon small_delete" %>
        </td>
      </tr>
  <% end %>
</table>
<br/>

<%= will_paginate @pages %>

<a href="<%= new_cpanel_page_path %>" class="btn btn-small btn-success"><%= t("cpanel.common.create") %></a>