<%= simple_form_for([:cpanel,@position]) do |f| %>
  <fieldset>
    <legend></legend>
    <%= f.input :title %>
    <%= f.input :image %>
    <%= f.input :location, collection: 1..6, prompt: "选择推荐位置" %>
    <%= f.input :desc %>
    <%= f.input :url %>
    <div class="form-actions">
      <%= f.submit t("cpanel.common.save"), :class => "btn btn-primary", 'data-disable-with' => t("cpanel.common.saving") %>
      <%= link_to 'Back', cpanel_positions_path %>
    </div>
  </fieldset>
<% end %>