<% content_for :sitemap do %>
    <span class="current"><%= t("cpanel.menu.news_list") %></span>
<% end %>
<h1>产品列表</h1>
<div id="cpanel_product">
  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <th>新闻ID</th>
      <th>新闻名</th>
      <th>分类</th>
      <th class="opts">操作</th>
    </tr>
    <% @news.each do |news_item| %>
        <tr class="<%= cycle("", "even") %>">
          <td><%= news_item.id %></td>
          <td><%= link_to news_item.name, news_details_path(news_item.id), target: "_blank" %></td>
          <td><%= news_item.category.name %></td>
          <td>
            <%= link_to '', edit_cpanel_news_path(news_item.id), :class => "icon small_edit" %>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to '', cpanel_news_path(news_item.id), :method => :delete, 'data-confirm' => '确定要删除吗?', :class => "icon small_delete" %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
<%= will_paginate @news %>
<a href="<%= new_cpanel_news_path %>" class="btn btn-small btn-success"><%= t("cpanel.common.create") %></a>