<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "app" %>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>

<div id="wrapper" class="clearfix">
    <div id="header">
        <div class="container">
            <h1 id="title">
                <%= link_to "首页",root_path %>
            </h1>
        </div> <!-- /container -->
    </div> <!-- /header -->
    <div id="nav" class="clearfix">
        <div class="container">
            <ul id="main-nav">
                <li class="active">
                    <%= link_to "首页",root_path %>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        产品中心
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <% Category.all.each do |category| %>
                        <li><a href="<%= categories_details_path(category.slug.downcase) %>"><i class="icon-book"></i><%= category.name %></a></li>
                    <% end %>
                    </ul>
                </li>              
                <li>
                    <%= link_to "新闻动态",root_path %>
                </li>
                <li>
                    <%= link_to "联系我们",root_path %>
                </li>
                <li>
                    <%= link_to "选购指南",root_path %>
                </li>
            </ul>
        </div> <!-- /container -->
        
    </div> <!-- /nav -->
    <!-- main body -->
    <%= yield %>
    <!-- main body -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="grid-4">
                    <h1 id="footer-logo">Focus Business</h1>
                    <p>欢迎访问我们的网站，有任何问题请及时联系我们，谢谢.</p>
                </div> <!-- /grid-4 -->     
                <div class="grid-4">
                    <h3>社交网络</h3>
                    <p> 欢迎关注我们的社交网络，我们会不定期在一下社交网络商公布促销和优惠活动.</p>
                    <ul class="social-icons-container">                     
                        <li>
                            <a href="javascript:;" class="social-icon social-icon-weibo">新浪微博</a>
                        </li>   
                        <li>
                            <a href="javascript:;" class="social-icon social-icon-t-weibo">腾讯微博</a>
                        </li>
                        <li>                            
                            <a href="javascript:;" class="social-icon social-icon-facebook">Facebook</a>
                        </li>
                    </ul>
                </div> <!-- /grid-4 -->
                <div class="grid-4">
                    <h3><span class="slash">//</span>订阅新闻</h3>
                    <p>Subscribe to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                    <form>
                        <input type="text" name="subscribe_email" placeholder="Your Email">
                        <br>
                        <button class="btn btn-warning">Subscribe</button>
                    </form> 
                </div><!-- /grid-4 -->
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /footer -->
    
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div id="rights" class="grid-6">
                © 2012 HanHor.com All Rights Reserved.
                </div> <!-- /grid-6 -->
                <div id="totop" class="grid-6">
                    <a href="http://HanHor.com">HanHor.com</a>
                </div> <!-- /grid-6 -->
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /copyright -->
</div> <!-- /wrapper -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39284474-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>